/*

.card {
    position: relative;
    width: 809px;
    height: 89px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }



.card {
  display: inline-block;
  margin: 20px;
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card-row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 20px;
}

.card a {
  display: block;
  text-align: center;
  padding: 20px;
}

.card img {
  width: 80%;
  height: auto;
  margin: 20px auto;
}

.card h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

*/
.card,
.featured-card,
.sidebar-card,
.category-card,
.product-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.category-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
.product-card {
  position: relative;
  margin: 0px;
  width: 202px;
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.product-card img {
  width: 80%;
  height: auto;
  margin: 20px;
}

.product-card h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: #333;
}
/* onclick="goToHomepage()"
function goToHomepage() {
    window.location.href = "../homepage.html";
} */