@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{ /*page general properties */
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(251, 1, 1);
  }

  .object img {
    width: 300px;
    height: auto;
    border: 5px;
    border-radius: 60px;
    transition: all 0.3s ease-in-out;
  }
  
  .object img:hover {
    transform: scale(1.05);
  }

  .topnav {

    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    
    padding: 20px;
    border-bottom: #000000;
    
    background-color: rgb(255, 255, 255);
    
    color: #000000;
    
    }
    /* LOGO */ 
    img{
      height: 65px;
      width: 300px;
      padding: 0px;
  }



  .search-bar{
    width:50%;
    max-width: 700px;
    height: 50px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 60px;
    transition: width 0.3s ease-in-out;
  }
  
  .search-bar:hover {
    width: 800px;
  }
